/.phpunit.cache
/bootstrap/ssr
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/node_modules
/public/hot
/public/storage
/public/vendor
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
public/storage
/vendor
.DS_Store
.env
.env.backup
.env.production
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
# Next.js / Node
.next/
dist/
.npm-cache/
